node_modules
gethPrivate/testchain/
!gethPrivate/testchain/keystore
.node-xml*
build/
.DS_Store
.project
.settings
audit/test/testchain/geth
audit/test/testchain/geth.ipc
audit/test/testchain/history
audit/test/contracts
private
/coverage
coverage.json
allFiredEvents
scTopics
coverageEnv
